.jewelry-page {
  background-color:#e8e7dc;
 

}
.buyBttn {
  background-color: #000;
  color: white;
  /* Add any other styling you need for the button */
}
.returnBttn{
  background-color: #000;
  color: white;
}